@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ff6441;
    --color-success: #16dd3a;
    --color-text: #370e0e;
    --color-bg-primary: #ffead1;
    --content-max-width: 1480px
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg-primary);
}

section {
    padding-block: 6rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

h1 span, h2 span, h3 span, h4 span {
    color: var(--color-primary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    font-size: inherit;
}

button, a {
    cursor: pointer;
    transition: opacity 200ms;
}

button:hover, a:hover {
    opacity: .5;
}

input, select {
    padding: .5rem 1rem;
    border: 1px solid var(--color-text);
    border-radius: .25rem;
    outline: none;
    font-size: 1rem;
    background: transparent;
}

input:focus, select:focus {
    outline: 1px solid var(--color-text);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 2rem var(--color-background-primary) inset !important;
    -webkit-box-shadow: 0 0 0 2rem var(--color-background-primary) inset !important;
}

.inputfield {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputfield label {
    position: absolute;
    top: 50%;
    left: .75rem;
    padding-inline: .25rem;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    opacity: .75;
    transition-property: top, font-size, background-color, opacity;
    transition-duration: 300ms;
}

.inputfield:has(input:focus) label,
.inputfield:has(input:not(:placeholder-shown)) label,
.inputfield:has(select:focus) label,
.inputfield:has(select:not(:placeholder-shown)) label {
    top: 0;
    font-size: .75rem;
    background-color: var(--color-bg-primary);
    opacity: 1;
}

.icon {
    font-size: 1.25rem;
}

.primary-btn, .outline-btn {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .75rem 1.75rem;
    border-radius: .25rem;
    font-weight: bold;
}

.primary-btn {
    background-color: var(--color-primary);
    color: white;
}

.outline-btn {
    font-weight: 500;
    color: var(--color-text);
    border: 1px solid var(--color-text);
}

@media only screen and (max-width: 768px) {
    section {
        padding-block: 4rem;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
}